<% if appointment.errors.any? %>
  <div id="error_explanation">
    <h4>There were some errors:</h4>
    <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
