<% if current_user.contacts.any? %>
  <tr>
    <td><strong>Contact</strong></td>
    <td class="left"><%= f.collection_select :contact_id, current_user.contacts, :id, :name, :include_blank => true %></td>
  </tr>
<% end %>

<% if current_user.locations.any? %>
  <tr>
    <td><strong>Location</strong></td>
    <td class="left"><%= f.collection_select :location_id, current_user.locations, :id, :name, :include_blank => true %></td>
  </tr>
<% end %>
