<div class="row">
    <div class="col-md-4">

      <fieldset>
        <legend>Edit this appointment!</legend>
      </fieldset>

        <%= render partial: 'appointments/form', locals: {appointment: @appointment} %><br />

      <p class="delete_button"><%= link_to "Delete this Appointment", @appointment, method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %> </p>
    </div>

  <div class="col-md-8">
    <%= show_weekly_calendar(@appointments) %>
  </div>

</div>
