<fieldset>
  <legend>Locations Index</legend>
</fieldset>

<div>
  <h4>Search By Name:</h4>
  <%= form_tag("/locations", method: :get) do %>
    <%= text_field_tag "location" %>
    <%= submit_tag "Search" %>
    <% end %>
  </div> <br />

<%= render(@locations) || "You haven't saved any locations yet!" %>
